body{
    margin: 0;
    height: 100%;
}
.container{
  margin: 0 auto; 
  width: 500px;
  position: absolute;
  top: 50px;
  left: 30px;
}
.clear{
    clear:both;
  }
  .container{
    margin: 0 auto; 
    width: 500px;
  }
  .left_hand{
    width:120px;
    height:260px;
    background:black;
    float:left;
    transform:rotate(11deg);
    border-radius:20% 40% 40% 40%;
    margin-top:15px;
  }
  .left_pad{
    background:black;
    width:112px;
    height:112px;
    border-radius:50%;
    margin:5px 0 0 10px;
    box-shadow:0 0 20px #464647;
  }
  
  .fleche_dir_top{
    width:22px;
    height:24px;
    background:black;
    position:relative;
    top:18px;
    left:40px;
    transform:rotate(-11deg);
    box-shadow: 0 0 10px #464647;
  }
  
  .fleche_dir_bottom{
    width:22px;
    height:24px;
    background:black;
    position:relative;
    top:50px;
    left:51px;
    transform:rotate(-11deg);
    box-shadow: 0 0 10px #464647;
  }
  
  .fleche_dir_right{
    width:24px;
    height:22px;
    background:black;
    position:relative;
    top:-6.5px;
    left:72px;
    transform:rotate(-11deg);
    box-shadow: 0 0 10px #464647;
  }
  
  .fleche_dir_left{
    width:24px;
    height:22px;
    background:black;
    position:relative;
    top:-18px;
    left:17px;
    transform:rotate(-11deg);
    box-shadow: 0 0 10px #464647;
  }
  .right_hand{
    width:120px;
    height:260px;
    background:black;
    float:left;
    transform:rotate(-11deg);
    border-radius:20% 20% 40% 40%;
    margin:15px 0 0 210px;
  }
  
  .right_pad{
    background:black;
    width:112px;
    height:112px;
    border-radius:50%;
    box-shadow:0 0 20px #464647;
    margin-top:2px;
  }
  .middle{
    width:395px;
    background:black;
    height:160px;
    margin-left:27px;
    border-radius:15%;
  }
  
  .pave_tactile{
    width:150px;
    height:90px;
    background:black;
    margin-left:152px;
    box-shadow: 0 0 10px #464647;
    border-radius:7px;
    position: absolute;
  }
  
  .share{
    width:12px;
    height:25px;
    position:absolute;
    background:black;
    margin:5px 0 0 130px;
    border-radius:5px;
    box-shadow: 0 0 10px #464647;
  }
  
  .options{
    width:12px;
    height:25px;
    position:absolute;
    background:black;
    margin:5px 0 0 310px;
    border-radius:5px;
    box-shadow: 0 0 10px #464647;
  }
  
  .triangle{
    width:30px;
    height:30px;
    box-shadow: 0 0 10px #464647;
    position:absolute;
    border-radius:50%;
    margin:7px 0 0 49px;
  }
  .triangle_bas{
    width:22px;
    height:22px;
    position:absolute;
    margin:27px 0 0 50px;
    transform:rotate(11deg);
    border-top:2px solid #00C081;
  }
  
  .triangle_droit{
    width:20px;
    height:20px;
    position:absolute;
    margin:14px 0 0 51px;
    transform:rotate(67deg);
    border-top:2px solid #00C081;
  }
  
  .triangle_gauche{
    width:20px;
    height:20px;
    position:absolute;
    margin:15px 0 0 56px;
    transform:rotate(-46deg);
    border-top:2px solid #00C081;
  }
  .croix{
    width:30px;
    height:30px;
    box-shadow: 0 0 10px #464647;
    position:absolute;
    border-radius:50%;
    margin:70px 0 0 36px;
  }
  
  .carre_rose{
    width:15px;
    height:15px;
    margin:5px 0 0 6px;
    transform:rotate(11deg);
    border:2px solid #E95CE9;
  }
  
  .carre{
    width:30px;
    height:30px;
    box-shadow: 0 0 10px #464647;
    position:absolute;
    border-radius:50%;
    margin:32px 0 0 10px;
  }
  
  .rond_rouge{
    width:18px;
    height:18px;
    border-radius:50%;
    transform:rotate(11deg);
    border:2px solid #FF3746 ;
    margin:4px 0 0 4px;
  }
  
  .rond{
    width:30px;
    height:30px;
    box-shadow: 0 0 10px #464647;
    position:absolute;
    border-radius:50%;
    margin:44px 0 0 74px;
  }
  
  .croix_bleue{
    width:24px;
    height:24px;
    transform:rotate(53deg);
    border-right:2px solid #0A86E5;
    margin:-7px 0 0 -5px;
  }
  
  .croix_bleue_bis{
    width:24px;
    height:24px;
    transform:rotate(-32deg);
    border-right:2px solid #0A86E5;
    margin:-8px 0 0 -8px;
  }
  .roll_left{
    width:80px;
    height:80px;
    background:black;
    box-shadow: 0 0 10px #464647;
    position:absolute;
    border-radius:50%;
    left:-204px;
    margin-top:-75px;
  }
  
  .roll_right{
    width:80px;
    height:80px;
    background:black;
    box-shadow: 0 0 10px #464647;
    position:absolute;
    border-radius:50%;
    left:-73px;
    margin-top:-51px;
  }
  
  .roll_in{
    width:60px;
    height:60px;
    background:#0C0D0E;
    box-shadow: 0 0 10px #464647;
    position:absolute;
    border-radius:50%;
    left:11px;
    margin-top:10px;
  }
  
  .roll_in_in{
    width:45px;
    height:45px;
    background:#0C0D0E;
    box-shadow: 0 0 7px #464647;
    position:absolute;
    border-radius:50%;
    left:7px;
    margin-top:7px;
  }
  
  .ps{
    width:23px;
    height:23px;
    background:#0D0D0E;
    box-shadow: 0 0 7px #464647;
    position:absolute;
    border-radius:50%;
    left:-110px;
    margin-top:-37px;
  }

.active{
    background-color: lightgrey !important;
    box-shadow: 0 0 15px white;
}

.activeButton{
    box-shadow: 0px 0px 30px inset white;
}